@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --bg-color: #1B2430;
    --primary-color: #CF0A0A;
    --text-primary: #E7F6F2;
    --text-secundary: #A5C9CA;
}

/* General Styles */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--bg-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

h1 {
    margin: 0;
}

/* Navbar Styles */
.navbar {
    width: 90%;
    margin: 1.25em auto;
    display: flex;
    align-items: center;
}

.navbar__logo {
    margin-right: 3.75em;
}

.navbar__logo a {
    font-size: 28px;
    font-family: 'Bebas Neue', Impact;
    text-decoration: none;
    color: var(--primary-color);
}

.navbar__content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    gap: 1.25em;
    list-style: none;
}

.navbar__item a {
    text-decoration: none;
    color: var(--text-secundary);
    transition: .2s all ease;
}

.navbar__item a:hover {
    color: var(--text-primary);
}

.navbar__actions {
    display: flex;
    align-items: center;
}

.navbar__search {
    display: flex;
    align-items: center;
    margin-right: 0.625em;
}

.navbar__input {
    font-size: 1.125em;
    color: var(--text-secundary);
    margin-right: 0.625rem;
    cursor: pointer
}

.navbar__control {
    width: 0;
    border: none;
    outline: none;
    font-size: 0.875em;
    background: #1B2430;
    color: var(--text-secundary);
    transition: .2s all ease;
}

.navbar__control::placeholder {
    color: var(--text-secundary);
}

.navbar__control:focus {
    width: 150px;
}

.navbar__dropdown {
    position: relative;
}

.navbar__dropdown-btn {
    display: flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 5px;
    overflow: hidden;
    background: none;
    cursor: pointer;
    transition: .2s all ease;
}

.navbar__dropdown-btn:hover {
    background: #2a3749;
}

.navbar__dropdown-btn:focus {
    background: #2a3749;
}

.navbar__user-img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 100%;
}

.navbar__user-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar__dropdown-btn i {
    color: var(--text-secundary);
    transition: .2s all ease;
}

.navbar__dropdown-btn:focus i {
    transform: rotate(180deg);
}

.navbar__dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: -75px;
    width: 150px;
    background: #2a3749;
    padding: 8px;
    border-radius: 10px;
    transition: .2s all ease;
    z-index: 10;
}

.navbar__dropdown-menu.active {
    display: block;
}

.navbar__dropdown-content {
    display: flex;
    flex-direction: column;
}

.navbar__dropdown-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text-secundary);
    padding: 5px;
    border-radius: 3px;
    transition: .2s all ease;
}

.navbar__dropdown-item i {
    margin-right: 10px;
}

.navbar__dropdown-item:hover {
    background: var(--bg-color);
    color: var(--text-primary);
}

/* Banner styles */
.banner {
    width: 90%;
    margin: auto;
    overflow: hidden;
    height: 450px;
    border-radius: 10px;
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.banner__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    opacity: 0;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    transition: .2s all ease;
}

.banner:hover .banner__container {
    opacity: 1;
}

.banner__content {
    width: 50%;
    height: 80%;
    margin-left: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.banner__title {
    color: var(--text-primary);
}

.banner__description {
    color: var(--text-primary);
}

.banner__title {
    font-size: 2em;
}

.banner__description {
    font-size: 0.875em;
    margin: 20px 0 40px 0;
}

.banner__actions button {
    font-size: 0.875em;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 0.3125rem;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: .2s all ease;
}

.banner__actions button i {
    font-size: 18px;
}

.banner__btn {
    background: var(--primary-color);
    color: var(--text-primary);
}

.banner__btn:hover {
    background: #b10b0b;
}

.banner__btn-secundary {
    background: #3b4d66;
    color: var(--text-primary);
    margin-left: 0.625rem;
}

.banner__btn-secundary:hover {
    background: #2a3749;
}